<section id="aboutme" class="animate">
    <p class="text-3xl font-semibold text-black dark:text-white">
      About Me
    </p>
    <article>
      <p class="text-2xl text-pretty">
        Studying the last year of my <strong
          >Software Development Engineering</strong
        > degree at the <strong
          >Universidad Autónoma de Baja California Sur (UABCS)</strong
        >.
        <br />
        <br />
        <strong class="years">+3 years</strong> dedicated to <strong class="years"
          >Frontend Development</strong
        > and I love to <strong>constantly learn new things</strong> in a <strong
          >self-taught way</strong
        >, as well as teach what I know to others.
        <br />
        <br />
        <b>
          <i>"Don't put off until tomorrow what you can program today"</i
          ></b
        >.
      </p>
      <p></p>
    </article>
  </section>

  <style>
    .years {
      color: #F3CA20;
      border-bottom: 1px dashed #f5db65;
    }
    i {
      border-bottom: 2px dotted rgba(255, 255, 255, 0.591);
      padding-bottom: 2px;
    }
  </style>