---
import ContactForm from '../components/ContactForm.astro'
---

<section id="contact" class="animate">
    <div>
      <p class="font-semibold text-black dark:text-white text-3xl">Contact</p>
      <p class="mb-3">Let's work together, I am available!</p>
    </div>
    <ContactForm />
  </section>