<form action="https://formspree.io/f/xbjnpqzn" method="POST" class="flex flex-col justify-center items-center mx-auto min-w-[1600]">
    <input
      type="text"
      placeholder="Name"
      class="w-full bg-zinc-900 p-2 mt-2 rounded-xl border-2 border-zinc-500"
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="w-full bg-zinc-900 p-2 mt-2 rounded-xl border-2 border-zinc-500"
    />
    <input
      type="text"
      placeholder="Subject"
      class="w-full bg-zinc-900 p-2 mt-2 rounded-xl border-2 border-zinc-500"
    />
    <textarea
      placeholder="Message"
      name="message"
      class="w-full bg-zinc-900 h-36 p-2 mt-2 rounded-lg border-2 border-zinc-500"
    ></textarea>
    <button
      type="submit"
      class="w-72 text-lg cursor-pointer p-2 mt-6 rounded-3xl border-2 border-zinc-600 hover:bg-zinc-800 bg-zinc-700 text-white"
    >
      Send
    </button>
  </form>