---
import ProjectCard from "./ProjectCard.astro";
---

<section
    class="max-h-[1600px] text-white grid md:grid-cols-12 md:auto-rows-[15rem] gap-4 py-2 mx-auto my-auto"
>
    <ProjectCard 
        gridSize="col-span-6 row-span-2" 
        name="Concurso Verano COFECE" 
        image="project_1.png" 
        stack={["Astro", "Tailwind"]}  
        codeLink="https://github.com"
    />
    <ProjectCard 
        gridSize="col-span-6 row-span-1" 
        name="Gestor de Campos Deportivos"
        image="project_2.png"      
        stack={["PHP", "JS", "CSS"]}
        codeLink="https://github.com"
    />
    <ProjectCard 
        gridSize="col-span-6 row-span-1" 
        name="Panel Administrativo | Sushi Bar"  
        image="project_3.png"   
        stack={["React", "Tailwind", "Laravel"]} 
        codeLink="https://github.com"
    />
</section>
