---
import ProjectBentoArea from '@components/ProjectBentoArea.astro'
---


<section id="projects" class="animate">
    <p class="font-semibold text-black dark:text-white text-3xl">Projects</p>
    <div class="space-y-4">
      <ProjectBentoArea />
    </div>
  </section>